:root {
    --boston-blue-50: #ecfdff;
    --boston-blue-100: #cff7fe;
    --boston-blue-200: #a6ecfb;
    --boston-blue-300: #68dcf8;
    --boston-blue-400: #24c3ec;
    --boston-blue-500: #08a6d2;
    --boston-blue-600: #0a8dbd;
    --boston-blue-700: #0f6a8f;
    --boston-blue-800: #165774;
    --boston-blue-900: #174862;
    --boston-blue-950: #082f44;
}

.bg-color {
    background-color: var(--boston-blue-100);
}

.bg-nav {
    background-color: var(--boston-blue-900);
}

.bg-input {
    background-color: var(--boston-blue-50);
}

.text-color-primary {
    color: var(--boston-blue-800);
}

.text-color-secondary {
    color: var(--boston-blue-50);
}

.button-confirm-color {
    color: var(--boston-blue-50);
    background-color: var(--boston-blue-600);
}

.btn:hover {
    color: var(--boston-blue-50);
    background-color: var(--boston-blue-500);
    border-color: var(--boston-blue-950);
}

.border-color {
    border: 3px solid var(--boston-blue-950)!important;
}